.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #056b12;
  background-image: url('./images/dice.png');
  background-size: cover;

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #f5f5f5;
}

p {
  font-size: 2rem;
  color: #f7f8f8;
  font-family: 'Lobster', cursive;
}

img {
  width: 80%;
}

